fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-multipart

langchain-core
langchain-ollama
langchain-chroma
langchain-huggingface
chromadb

datasets
pandas
sentence-transformers

vosk
pydub
librosa
soundfile
numpy
scipy
gTTS
